## Mac OS ##
**/*.DS_Store

# compiled output
/dist
/tmp

## npm ##
node_modules
npm-debug.log
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

## build directory ##
client/dist/*

## remote database connection ##
config.js

#System Files
.DS_Store
Thumbs.db

## floobits ##
.floo
.flooignore